
.navbar-nav li {
    position: relative;
  }
          .navbar-nav  ::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #eec857;
    border-radius: 50%;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .navbar-nav   :hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(3px);
  }